.button{
    background-color: #EDEDED;
    color: #0A0A0A;
    font-family: var(--font-inter);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 12px;
    border-radius: 8px;
    border: none;
    height: 48px;
    font-weight: 500;
    transition-duration: .15s;
    cursor: pointer;

    &:hover{
        background-color: #CCCCCC;
    }

}

.button[data-inversed = "true"]{
    background-color: #171717;
    color: #fff;

    &:hover{
        background-color: #383838;
    }
}
